set_io -nowarn clk_100p0         C8 # 100MHz clock in default firmware
# RGB LED
set_io -nowarn ICE_39           A9 # LED_G active-low
set_io -nowarn ICE_40           B8 # LED_B active-low
set_io -nowarn ICE_41           B7 # LED_R active-low
# UART in default RP firmware
set_io -nowarn ICE_25           J1
set_io -nowarn ICE_27           K1
